/*-- GLOBAL STYLES --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--link-font);
}


/*-- VARIABLES --*/
:root {
    --primary-color:#00BFFF;
    --primary-color-lighter:#77ddff;
    --secondary-color: rgb(39, 43, 48);
    --tertiary-color: #001933;
    --background-color:#0f65c01a;

    --header-font: 'Lato', sans-serif;
    --link-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
  }


/*-- HEADER --*/
/* side navigation menu */

.header {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(39, 43, 48) 0%,rgb(77, 91, 107) 100%);
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 2px 1px 3px rgb(0,0,0,.75);
  }

.header h1 {
    font-size:35px;
    letter-spacing: 1.5px;
    line-height: 2.6rem;
    font-family: var(--header-font);
    text-shadow: none;
    color: var(--primary-color);
    margin:0;
    padding: 20px 20px;
    border-left: solid 8px rgba(0,0,0,0);
    border-bottom: solid 2px gray;
    transition: all .5s;
    properties: background-color, text-shadow;
}

.header h1:hover {
    background-color: rgb(77, 91, 107);
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    text-shadow: 2px 2px 2px black;
    border-left: solid 8px var(--primary-color);
}

.subheader-text {
    font-size: 18px;
    letter-spacing: .2px;
    font-weight: 200;
    font-family: var(--paragraph-font);
    padding: 0px;
    color: white;
}

.navigation ul {
    list-style: none;
}

.navigation a {
    display:block;
    margin: 0px 15px;
    font-weight: lighter;
    font-size: 1.55rem;
    color: white;
    padding:15px;
    border-radius: 1px;
    width: 100%;
    background-color: none;
    transition: all .5s;
    properties: padding, background-color, font-weight;
}

.navigation a:hover {
    font-weight: bolder;
    background-color: rgb(77, 91, 107);
    padding-left:60px;
    color: var(--primary-color);
    border-left: solid 8px var(--primary-color);
}
header a {
    text-decoration: none;
}

/*-- HERO/JUMBOTRON --*/
.hero {
    background-image: url("../images/stars-jumbotron.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
}

.hero-subtitle {
    width: 75%;
    text-align: center;
    text-shadow: 0 0 10px rgba(248, 245, 245, 0.75);
    padding:30px 30px 0px 220px;
    padding-left: 220px;
    justify-self: flex-end;
    align-self: flex-end;
    position: absolute;
    top: 100px;
    right:20px;
}

.hero-subtitle h2 {
    color: white;
    font-size: 60px;
    font-family: var(--paragraph-font);
    /* color:var(--secondary-color); */
}


/*-- ALL SECTIONS --*/
.main {
    background-color: rgba(248, 251, 253, 0.849);
}

.section-title-bg {
    padding-top:30px;
}

.section-title {
    color: var(--secondary-color);
    letter-spacing: 1px;
    font-size: 40px;
    font-family: var(--header-font);
    font-weight: 800;
    padding: 20px 0px 50px 300px;
}

.section-content {
    padding: 0px 100px 40px 300px;
    /* min-height: 100vh; */
}

/*-- SECTION: ABOUT ME --*/
.about-content {
    display: flex;
    font-size: 1.5rem;
    font-weight:300;
    font-family: var(--paragraph-font);
    line-height: 3rem;
    flex-wrap:unset;
}

.about-content img {
    width: 266px;
    height: 266px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 2px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.about-summary {
    margin-top: -.8rem;
}


/*-- SECTION: PROJECTS --*/
.project-section {
    background-image: linear-gradient(to bottom right, rgb(231, 229, 229) 0%, rgb(196, 196, 196) 100%);
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
}

.project {
    align-items: flex-end;
    flex-grow: 1;
    justify-items: start;
    min-height:350px;
    min-width: 350px;
    margin:10px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(0,0,0,.5);
    transform: scale(1);
    filter: brightness(100%);
    transition: all .25s ease;
    transition-property: transform, box-shadow, filter;
}

.project:hover {
    transform: scale(1.05);
    z-index: 99;
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,.7);
    filter: brightness(105%);
    border-radius: 2px;
}


.project-info {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding:8px;
    margin-bottom:0px;
    /* background-color: var(--primary-color); */
    background-color: white;
}

/* .project-title {
    width: 100%;
    padding:8px;
    margin-bottom:0px;
    background-color: var(--primary-color);
    transition: width .5s;
} */

.project-1 {
    background-image: url("../images/run-buddy-screenshot.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-2 {
    background-image: url("../images/password-generator-screenshot.png");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-3 {
    background-image: url("../images/cinasearch-screenshot.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-4 {
    background-image: url("../images/taskinator-screenshot.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-5 {
    background-image: url("../images/work-day-scheduler-screenshot.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-6 {
    background-image: url("../images/weather-dashboard-screenshot.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}
/*-- SECTION: SKILLS --*/
.skills-icons {
    display: flex;
    align-items:center;
    list-style-type: none;
    justify-content: space-around;
    flex-flow: row wrap;
    padding:15px 0px;
}

.skills-section img {
    flex-wrap: auto;
    padding: 25px 25px;
    max-height: 150px;
}

.skill-link {
    text-decoration: none;
    filter: none;
    transition: filter 0.25s;
}

.skill-link:hover {
    filter: drop-shadow(5px 5px 5px #222);
}



/*-- SECTION: CONTACT --*/
.contact-section {
    background-image: linear-gradient(to bottom right, var(--secondary-color) 0%, rgb(117, 123, 129) 100%);
    display: flex;
    flex-direction: column;
}

.contact-section .section-title {
    color: white;
}

.contact-section .section-content {
   min-height:50vh;
}

.contact-form {
    width: 75%;
}

.contact-form input,.contact-form textarea{
    display: block;
    padding:20px 15px;
    font-size:16px;
    color:var(--secondary-color);
    width:100%;
    margin-bottom: 5px;
    margin-top:5px;
    border-radius: 1px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus,.contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color:var(--secondary-color);
    text-align: center;
    padding:20px 0;
    font-size: 16px;
    border-radius: 1px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
    cursor: pointer;
  }


.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
    width: 100%;
    min-height:30vh;
}

.contact-section ul {
    display: flex;
    align-items:center;
    list-style-type: none;
    justify-content: space-between;
    padding:30px 0px;
    padding-left: 160px;
    font-size: 18px;

}

.contact-section ul li a {
    text-decoration: none;
    padding: 0px 25px;
    border-radius: 3px;
    font-size: 3rem;
    color: white;
}

.contact-section ul li a:hover {
    color: var(--primary-color);
    border-radius: 3px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero {
        display: block;
    }

    .hero-subtitle {
        margin: auto;
        justify-self: center;
        align-self: center;
        position:static;
        width: 100%;
    }

    .hero-subtitle h2 {
        justify-self: center;
        width: 100%;
    }

    .content {
        border: none;
    }

    .about-content {
        display: block;
        width: 100%;
    }

    .about-content img {
        float: left;
    }


  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    /* navigation side bar will be hidden on mobile device viewport.
    Fix this so that it can be opened with a hamburger menu button */
    .header {
        display:none;
    }

    .about-content img {
        float: none;
    }

    .contact-section ul {
        display: block;
    }

    .contact-section ul li {
        border: none;
        padding: 0px 0px 15px;
        margin-top: 0px;
    }
  }