/*-- GLOBAL STYLES --*/
:root {
    --primary-color:lightblue;
    --secondary-color: #024e76;
    --tertiary-color: #001933;
    --background-color:#0f65c01a;

    --header-font: 'Saira Semi Condensed', sans-serif;
    --link-font:'Lalezar', cursive;
    --paragraph-font:'Saira Semi Condensed', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--tertiary-color);
}

body {
    color:var(--tertiary-color);
    font-family: var(--link-font);
    background-color: var(--background-color);
}


/*-- HEADER --*/
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    width: 100%;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1, .sub-header-text{
    font-weight: bold;
    font-size:32px;
    letter-spacing: 4px;
    font-family: var(--header-font);
    color: var(--primary-color);
    margin:0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sub-header-text {
    color:white;
    font-size: 30px;
}


header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding:10px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
    padding:10px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}


/*-- HERO/JUMBOTRON --*/
.hero {
    background-image: url("../images/stars-jumbotron.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
    display: flex;
    flex-wrap: wrap;
    height:250px;
}

.hero-subtitle {
    width: 50%;
    text-align: center;
    text-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
    padding:10px;
    justify-self: flex-end;
    align-self: flex-end;
    position: absolute;
    top: 215px;
    right:20px;
   /*  background-color: rgba(173, 276, 230, .6); */
}

.hero-subtitle h2 {
    color: white;
    font-size: 45px;
    font-family: var(--paragraph-font);
    /* color:var(--secondary-color); */
}


/*-- ALL SECTIONS --*/
section {
    padding:30px;
}

.main-flex {
    display: flex;
    justify-content: center;
    padding:50px 0px;
}

.main-grid {
    width:80%;
    display: grid;
    grid-template-columns: .5fr 3fr;
    grid-template-rows: 3fr;
    gap:25px;
}

.section-title {
    justify-self: right;
    letter-spacing: 1px;
    font-size: 32px;
    font-family: var(--header-font);
    direction:rtl;
    width:70%;
    padding: 0px;
}

.content {
    justify-self: left;
    align-self: center;
    padding:0px 15px;
    border-left:4px solid #001933;
    width: 100%;
    margin-bottom: 20px;
}


/*-- SECTION: ABOUT ME --*/
.bio-flex-wrapper{
    display: flex;
    font-size: 18px;
    font-family: var(--paragraph-font);
    line-height: 1.6;
    flex-wrap:unset;
    padding: 0px 15px;
}

.bio-flex-wrapper img {
    width: 266px;
    height: 266px;
    margin-bottom: 15px;
    margin-right: 15px;
}

/*-- SECTION: PROJECTS --*/
.sub-grid-wrapper {
    display: grid;
    gap:0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    "project1 project1 project2"
    "project1 project1 project3"
    "project4 project5 .";
    padding:0px 10px;
    width: auto;
}

.project {
    align-items: flex-end;
    justify-items: start;
    position: relative;
    min-height:150px;
}

.project:hover {
    transform: scale(1.05);
    z-index: 99;
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,1);
    filter: brightness(115%);

}

.project-title {
    padding:8px;
    margin-bottom:0px;
    background-color: var(--primary-color);

}

.project-1 {
    grid-area: project1;
    background-image: url("../images/run-buddy-screenshot.jpg");
    min-height: 200px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-2 {
    grid-area: project2;
    background-image: url("../images/password-generator-screenshot.png");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-3 {
    grid-area: project3;
    background-image: url("../images/project3-placeholder-img.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-4 {
    grid-area: project4;
    background-image: url("../images/project4-placeholder-img.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.project-5 {
    grid-area: project5;
    background-image: url("../images/project5-placeholder-img.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


/*-- SECTION: CONTACT --*/
.contact-section ul {
    display: flex;
    align-items:center;
    list-style-type: none;
    justify-content: space-around;
    padding:30px 0px;
    font-size: 18px;
}

.contact-section ul li {
    border-bottom: 3px solid var(--tertiary-color);
}

.contact-section ul li a {
    text-decoration: none;
    padding: 10px;
}

.contact-section ul li a:hover {
    padding:10px;
    background-color: var(--tertiary-color);
    color: white;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align:center;
    }

    header nav ul {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero {
        display: block;
    }

    .hero-subtitle {
        margin: auto;
        justify-self: center;
        align-self: center;
        position:static;
        width: 100%;
    }

    .hero-subtitle h2 {
        justify-self: center;
        width: 100%;
    }

    .main-grid {
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    .section-title {
        display: flex;
        direction:ltr;
        width: 100%;
    }

    .section-title h3 {
        justify-self:center;
        text-align: center;
        border-bottom: 4px solid #001933;
        padding:0px;
        width: 100%;
    }

    .content {
        border: none;
    }

    .bio-flex-wrapper {
        display: block;
        width: 100%;
    }

    .bio-flex-wrapper img {
    float: left;
    }

    .sub-grid-wrapper {
        display: block;
    }

    .sub-grid-wrapper .project {
        margin: 10px;
        height:200px;
        width: auto;
    }

  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    .bio-flex-wrapper img {
        float: none;
    }

      .contact-section ul {
        display: block;
    }

    .contact-section ul li {
        border: none;
        padding: 0px 0px 15px;
        margin-top: 0px;
    }
  }